@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pixelify+Sans:wght@400..700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color: #ffffff;
  background: #3d0951;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.t-h-header.is-open .t-h-header-background {
  left: 0;
}
.t-h-header-button-wrapper {
  margin-left: auto;
}
.t-h-header-icon {
  display: none;
}

.t-h-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.t-h-navigation-list.is-open {
  right: 0;
}
.t-h-header-icon-menu {
  display: block;
}

.t-h-header-icon-button.is-open .t-h-header-icon-menu {
  display: none;
}

.t-h-header-icon-button.is-open .t-h-header-icon-close {
  display: block;
}

.t-h-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
}

.t-h-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #ffffff;
}
.t-h-header.is-open .t-h-header-background {
  left: 0;
}
.t-h-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.t-h-header-icon-menu {
  display: block;
}

.t-h-header-icon-button.is-open .t-h-header-icon-menu {
  display: none;
}

.t-h-header-icon-button.is-open .t-h-header-icon-close {
  display: block;
}

.t-h-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px 16px;
  position: relative;
}

.t-h-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  transition: 0.3s;
  z-index: 999;
  padding: 44px 0px;
  gap: 24px;

  height: 490px;

  background: #ffffff;
}

.t-h-navigation-list.is-open {
  right: 0;
}

.t-h-navigation-link {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #000000;
}

.t-h-navigation-link:hover,
.t-h-navigatioт-link:focus {
  font-weight: 700;
  font-size: 22px;
}

.t-h-header.is-open {
  background-color: transparent;
}

.t-h-navigation-img {
  display: none;
}

@media screen and (min-width: 1203px) {
  .t-h-navigation-img {
    display: flex;
  }
  .t-h-policy-terms-header-icon-menu {
    display: none;
  }
  .w-b-header-button-wrapper {
    display: none;
  }
  .t-h-header {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: #3d0951;
  }

  .t-h-header-background {
  }
  .t-h-header-icon-button {
    display: none;
  }
  .t-h-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .t-h-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 49px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .t-h-navigation-link {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #ffffff;
  }

  .t-h-navigation-link:hover,
  .t-h-navigation-link:focus {
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .t-h-navigation-item-desk {
    display: none;
  }
}
.t-h-home {
  width: 375px;
  height: 810px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 297.png");
  margin: auto;
}
.t-h-home-container {
  width: 375px;
  padding: 301px 20px 0px;
  margin: auto;
}

.t-h-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.t-h-home-title {
  font-family: Pixelify Sans;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.t-h-home-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  padding-top: 20px;
}

@media screen and (min-width: 1203px) {
  .t-h-home {
    width: 1440px;
    height: 826px;
    background-image: url("/img/home/Frame\ 298.png");
  }
  .t-h-home-container {
    width: 1440px;
    padding: 399px 489px 0px;
  }

  .t-h-home-title {
    font-family: Pixelify Sans;
    font-weight: 700;
    font-size: 60px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .t-h-home-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.t-h-about-container {
  width: 375px;
  padding: 56px 20px 0px;
  margin: auto;
}
.t-h-about-title {
  font-family: Pixelify Sans;
  font-weight: 700;
  font-size: 34px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.t-h-about-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  padding-top: 24px;
}
.t-h-about-text-bold {
  font-family: Inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.t-h-about-text-bold-two {
  text-decoration: underline;
}
.t-h-about-span {
  font-style: italic;
}
@media screen and (min-width: 1203px) {
  .t-h-about-container {
    width: 1440px;
    padding: 76px 363px 0px;
    margin: auto;
  }
  .t-h-about-title {
    font-family: Pixelify Sans;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .t-h-about-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 24px;
  }
  .t-h-about-text-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.t-h-why-container {
  width: 375px;
  margin: auto;
  padding: 80px 20px 0px;
}
.t-h-why-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.t-h-why-item {
  padding: 23px;
  border: 4px solid;

  border-image-source: linear-gradient(
    132.26deg,
    rgba(61, 9, 81, 0) 45.23%,
    #ffffff 116.89%
  );

  border-image-slice: 1;
}

.t-h-why-text-bold {
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}
.t-h-why-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  padding-top: 10px;
}

@media screen and (min-width: 1203px) {
  .t-h-why-container {
    width: 1440px;
    padding: 120px 174px 0px;
  }

  .t-h-why-list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 0;
    height: 594px;
  }
  .t-h-why-item {
    width: 344px;
    height: 554px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .t-h-why-item-q {
    height: 352px;
  }
  .t-h-why-item-w {
    height: 150px;
    margin-top: 52px;
  }
  .t-h-why-item-e {
    height: 150px;
  }
  .t-h-why-item-r {
    height: 352px;
    margin-top: 52px;
  }
  .t-h-why-text-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .t-h-why-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.t-h-how-container {
  margin: auto;
  width: 375px;

  padding: 80px 20px 0px;
}
.t-h-how-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.t-h-how-item {
  display: flex;
  align-items: center;
  gap: 9px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.t-h-how-text-bold {
  width: 77px;
}

.t-h-how-text {
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-bottom: 16px;
}

@media screen and (min-width: 1203px) {
  .t-h-how-container {
    margin: auto;
    width: 1440px;
    padding: 120px 179px 0;
  }
  .t-h-how-list {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 36px;
  }

  .t-h-how-item {
    width: 336px;
    gap: 9px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .t-h-how-text {
    font-family: Inter;
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0%;

    padding-bottom: 16px;
  }
}

.t-h-reviews-container {
  margin: auto;
  padding: 80px 20px 0;
  width: 375px;
}

.t-h-reviews-lists {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 24px;
}

.t-h-reviews-img {
  width: 167px;
}
.t-h-reviews-text-bold {
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}

.t-h-reviews-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 16px 0;
}

@media screen and (min-width: 1203px) {
  .t-h-reviews-container {
    margin: auto;
    padding: 120px 179px 46px;
    width: 1440px;
    position: relative;
  }

  .t-h-reviews-lists {
    flex-direction: row;
    gap: 36px;
  }
  .t-h-reviews-item {
    width: 242.75px;
    height: 212px;
    gap: 16px;
  }

  .t-h-reviews-text-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .t-h-reviews-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 0;
    height: 120px;
    margin: 16px 0;
  }
}

.t-h-faq-container {
  padding: 80px 20px 67px;
  width: 375px;
  margin: auto;
}

.t-h-faq-answer {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 24px;
}

@media screen and (min-width: 1203px) {
  .t-h-faq-container {
    padding: 120px 474px 87px;
    width: 1440px;
    margin: auto;
    position: relative;
  }
  .t-h-faq-answer {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 24px;
  }
}

.t-h-gallery-container {
  width: 375px;
  margin: auto;
  padding: 80px 20px 0;
}
.t-h-gallery-list {
  display: none;
}
.t-h-gallery-lists {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 40px;
}
.t-h-gallery-item {
  width: 335px;
  overflow: hidden;
  position: relative;
}

.t-h-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.t-h-gallery-button-container {
  display: none;
}
@media screen and (min-width: 1203px) {
  .t-h-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .t-h-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }
  .t-h-gallery-button-icon {
    width: 50px;
    height: 50px;
  }
  .t-h-gallery-button:hover {
    scale: 120%;
  }

  .t-h-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 120px 266px 0;
    position: relative;
  }
  .t-h-gallery-list-left {
    position: absolute;
    left: 180px;
    top: 297px;
  }
  .t-h-gallery-list-right {
    top: 297px;
    position: absolute;
    right: 180px;
  }
  .t-h-gallery-list {
    display: block;
    padding-top: 40px;
  }
  .t-h-gallery-lists {
    display: none;
  }
  .t-h-gallery-item {
    width: 442px;
    height: 204px;

    margin: 0 12px;
  }
}
.t-h-policy-terms-container {
  padding: 90px 20px 39px;
  width: 375px;
  margin: auto;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.t-h-policy-terms-container h1 {
  margin-bottom: 30px;
  font-family: Pixelify Sans;
  font-weight: 700;
  font-size: 34px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.t-h-policy-terms-container h2 {
  margin-bottom: 16px;
  font-family: Inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.t-h-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 16px;
}
.t-h-policy-terms-container p {
  margin-bottom: 16px;
}
.t-h-email-link {
  color: inherit;
}
@media screen and (min-width: 1203px) {
  .t-h-policy-terms-container {
    padding: 145px 180px 60px;
    width: 1440px;

    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .t-h-policy-terms-container h1 {
    font-family: Pixelify Sans;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    margin-bottom: 48px;
  }
  .t-h-policy-terms-container h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    margin-bottom: 24px;
  }
  .t-h-policy-terms-container p {
    margin-bottom: 24px;
  }
}

.t-h-footer-container {
  width: 375px;
  background: #ffffff;

  padding: 25px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: #000000;
}

.t-h-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.t-h-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

.t-h-footer-copyright {
  font-family: Inter;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 1%;
}

@media screen and (min-width: 1203px) {
  .t-h-footer-container {
    width: 1440px;
  }

  .t-h-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 19px;
  }

  .t-h-footer-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .t-h-footer-copyright {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;
  }
}

.t-h-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 40px 28px;
  background: #ffffff;
  color: #000000;
  z-index: 1000;
  display: none;
}
.t-h-cookie-popup-text {
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}
.t-h-cookie-popup-text-two {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 24px;
}

.t-h-cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.t-h-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid #000000;
  box-shadow: 0px 1px 3px 0px #87614c;
  width: 319px;
  border-radius: 8px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

#accept-cookies {
  border: none;
  box-shadow: none;
  background: #3d0951;

  color: #ffffff;
}

.t-h-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1203px) {
  .t-h-cookie-popup-text {
    font-size: 36px;
    line-height: 22px;
    letter-spacing: 0%;
  }
  .t-h-cookie-popup-text-two {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .t-h-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .t-h-cookie-button {
    width: 269px;
    border-radius: 8px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .t-h-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 40px;
    display: none;
  }
}
